/* Estructura básica de la página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #111827;
    border-bottom: 1px solid #374151;
    }

/* Contenedor de la barra de navegación */
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 25px;

    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo de la barra de navegación */
.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Lista de enlaces de navegación */
.nav-menu { 
    display: flex;
    gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

/* enlaces de navegación */
.nav-menu a { 
    color: #d1d5db;
    text-decoration: none;

    font-size: 16px;
    transition: 0.2s;
}

/* hover de los enlaces de navegación */
.nav-menu a:hover {
    color: white;
}